@media (min-width: 991px) {

    .head-right a {
        margin-left: 1.4rem;
    }

    .plane,
    .headset {
        display: flex;
    }

    .main-nav {
        display: flex;
    }

    @each $class, $color in $img-container {

        .top-img-container-#{$class} .radius {
            text-align: center;
            margin-left: 0;
        }

        .top-img-container-#{$class} {
            height: 80vh;
        }
    }

    .img-h2,
    .img-p {
        text-align: left;
        width: 35rem;
    }

    .about {
        background-image: url(../img/branded.png);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .news-overflow {
        overflow: hidden;
    }

    .overlay img {
        transition: all .2s ease-in-out;
    }

    .overlay img:hover {
        transform: scale(1.1);
        filter: invert(20%) brightness(130%);
    }

    .nav-web-container:hover {
        .nav-web {

            cursor: pointer;
            background-color: $c-web;
            
            .fas {
                color: $font-white;
            }
            
        }
        .web-opt {
            display: flex;
        }
    }

    .nav-it-container:hover {
        .nav-it {

            cursor: pointer;
            background-color: $c-it;
            
            .fas {
                color: $font-white;
            }
            
        }
        .it-opt {
            display: flex;
        }
    }

    .nav-tele-container:hover {
        .nav-tele {

            cursor: pointer;
            background-color: $c-tele;
            
            .fas {
                color: $font-white;
            }
            
        }
        .tele-opt {
            display: flex;
        }
    }

    .nav-soft-container:hover {
        .nav-soft {

            cursor: pointer;
            background-color: $c-soft;
            
            .fas {
                color: $font-white;
            }
            
        }
        .soft-opt {
            display: flex;
        }
    }

    .nav-mark-container:hover {
        .nav-mark {

            cursor: pointer;
            background-color: $c-mark;
            
            .fas {
                color: $font-white;
            }
            
        }
        .mark-opt {
            display: flex;
        }
    }

    .nav-cyber-container:hover {
        .nav-cyber {

            cursor: pointer;
            background-color: $c-cyber;
            
            .fas {
                color: $font-white;
            }
            
        }
        .cyber-opt {
            display: flex;
        }
    }
}