@media (min-width: 1300px) {


    @mixin box {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: .8rem;
    }

    

    .header-wrap {
        width: 70.77%;
        margin-left: 15.5vw;
        justify-content: space-between;
    }

    .upper-menu {
        border-left: 1px solid darken($c-header, 4%);
        border-right: 1px solid lighten($c-header, 4%);
        width: $nav;
    }

    .nav-sep {
        width: 16.3vw;
    }

    .active {
        width: $nav;
    }

    .web-active {
        margin-left: 12.9vw;
    }
    
    .it-active {
        margin-left: 8.6vw;
    }

    .tele-active {
        margin-left: 4.3vw;
    }

    .mark-active {
        margin-left: -4.1vw;
    }

    .cyber-active {
        margin-left: -8.5vw;
    }

    .nav-menu {
        padding: 0 17vw 0 17.6vw;
    }

    .nav-menu h3,
    .nav-menu h4 {
        font-size: 1vw;
        font-weight: 400;
    }

    .img-wrap {
        margin-left: 18vw;
    }

    .img-1-wrap {
        margin-left: 14.8vw;
    }

    .services .radius p {
        font-size: .9rem;
    }

    .serv-web,
    .serv-it {
        width: 126.6%;
    }

    .serv-web {
        margin-left: -27.6%;
    }

    .serv-it {
        margin-left: 1%;
    }

    .serv-tele,
    .serv-soft,
    .serv-mark,
    .serv-cyber {
        width: 61%;
    }

    .serv-tele {
        
        margin-left: -27.6%;
    }

    .serv-soft {
        margin-left: -66%;
        
    }

    .serv-mark {
        margin-left: 105.1%;
        margin-top: -20rem;
    }

    .serv-cyber {
        margin-left: 66.7%;
        margin-top: -20rem;
    }

    .about-wrapper {
        width: 50%;
        text-align: left;
        margin-left: 16.5vw;
    }

    .over-cont {
        top: 27vw;
    }

    .news-head {
        padding-left: 13.6vw;
    }

    .news-line {
        margin-left: 3vw;
    }

    .news-container {
        width: 89%;
        max-width: 1310px;
        margin: 0 auto;
    }

    .art-3 {
        display: flex;
    }

    .footer {
        height: 19rem;
    }

    .foot-contact,
    .foot-about,
    .foot-legal,
    .foot-social {
        margin: 0;
        width: 25%;
    }

    .foot-contact {
        margin-left: 16vw;
    }

    .foot-about {
        margin-left: 34vw;
        margin-top: -15.1rem;
    }

    .foot-legal {
        margin-left: 48.5vw;
        margin-top: -16.5rem;
    }

    .foot-social {
        margin-left: 67.2vw;
        margin-top: -9.6rem;
    }

    .social {
        width: 14.5rem;
    }

    .social i {
        width: 6rem;
        margin-left: -1.8vw;
    }

    .spons-sep {
        margin-top: -.17vw;
    }

    .spons-img {
        width: 75%;
        margin-left: 12.3vw;
    }

    .sponsors-btm {
        width: 100%;
        background-color: $font-white;
    }

    .spons-img-btm {
        padding-left: 11vw;
        padding-right: 11vw;
    }
}