

.img-h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 0;
}

.img-p {
    line-height: 2.3rem;
    font-size: 1.4rem;
}

@each $class, $color in $img-container {

    .top-img-container-#{$class} {

        background-color: cyan;
        color: $font-white;
        text-align: center;
        width: 100%;
        height: 53.5rem;
        margin: 0 auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.91), 30%, transparent), url('../../img/carousel/#{$class}.jpg') no-repeat center ;
        background-size: cover;
        box-shadow: inset 400px 0 1500px rgba(0, 0, 0, 0.71);
    }

    .top-img-container-#{$class} .radius {
        @include button-arrow;
        background-color: $color;
        width: 16rem;
    }

    .img-#{$class}-btn:hover {
        background-color: darken($color,7%);
    }

    .img-#{$class}-btn img {
        width: 1rem;
        margin-left: .7rem;
        display: initial;
    }
}

.img-wrap {
    position: absolute;
    margin-top: 18rem;
    margin-left: 10vw;
    text-align: center;
    width: 80vw;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li button::before {
    font-size: .9rem;
    color: $font-white;
}

.slick-dots li.slick-active button::before {
    font-size: 1rem;
    color: $font-white;
    border: 2px solid $font-white;
    border-radius: 50%;
    padding: 2px;
    padding-left: 2px;
    width: 1.15rem;
    height: 1.15rem;
    margin: -4px;
}