$c-header: rgb(42, 43, 59);
$c-web: rgb(144, 108, 180);
$c-it: rgb(79, 124, 221);
$c-tele: rgb(206, 56, 56);
$c-soft: rgb(108, 127, 167);
$c-mark: rgb(59, 192, 103);
$c-cyber: rgb(236, 3, 73);
$c-about: rgb(49, 53, 65);
$c-border: rgb(197, 194, 194);
$c-news: rgb(94, 94, 94);
$c-social: rgb(31, 34, 46);
$font-white: rgb(241, 241, 241);
$c-pop: rgb(69, 74, 88);
$c-contact: rgb(148, 148, 148);

$nav: 11vw;